name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions-rust-lang/setup-rust-toolchain@v1
    - name: Build
      run: cd pico/app && cargo build --verbose
    - name: Tests
      run: cd pico/pico-lib && cargo test --verbose
    - name: Format
      run: cd pico && cargo fmt --check --verbose
